---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Alive - About">
  <script>
    import VanillaTilt from "vanilla-tilt";
  </script>
  <section
    id="landing"
    class="flex flex-col justify-center items-center gap-32 h-[88vh] p-64 border border-stroke-1 rounded-out overflow-clip"
  >
    <h1 class="font-hanson text-[128px] text-white leading-none">About</h1>
    <div
      class="absolute -z-10 w-[22vw] h-[50vh] rounded-[100%] bg-brand-gradient blur-[10vmax] opacity-50 animate-rotate-slow"
    >
    </div>
  </section>
  <section id="present" class="grid grid-cols-2 gap-12">
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Present</h1>
      <p class="body">
        Alive is a gaming organization that focuses on making innovative, and
        detailed gaming experiences.
      </p>
    </div>
    <img
      src="/assets/gradient-03.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
  </section>
  <section id="past" class="grid grid-cols-2 gap-12">
    <img
      src="/assets/gradient-02.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Past</h1>
      <p class="body">
        Alive started with Alive SMP, my friend came up with the name. It was a
        really fun, semipublic SMP, then it shut down. I wanted to continue on
        my gaming passion, so I created Alive Modpack, and Alive Textures. dukc
        also livestreamed games, under "Alive Media". All of these are
        discontinued now.
      </p>
    </div>
  </section>
  <section id="past" class="grid grid-cols-2 gap-12">
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Origins</h1>
      <p class="body">
        All the way back, dukc started his first city. It was called Ducky City,
        and he also created an office building, containing a "core", and other
        high-tech futuristic stuff. It was named DuckyHQ, this is where the name
        came from for the organization DuckyHQ. That city was destroyed, and
        then dukc kept on building new cities, until it died down. This started
        dukc's passion for city and urban design, power design, and futuristic
        offices and products.
      </p>
    </div>
    <img
      src="/assets/gradient-01.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
  </section>
</MainLayout>
