---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Alive - Alive City 6">
  <script>
    import VanillaTilt from "vanilla-tilt";
  </script>
  <section
    id="landing"
    class="flex flex-col justify-end items-start gap-32 h-[88vh] p-64 border border-stroke-1 rounded-out overflow-clip"
  >
    <h1 class="font-hanson text-[192px] text-white leading-none">
      Alive <br /> City
    </h1>
    <p class="body">
      An incredibally realistic and well documented conceptual Minecraft city.
    </p>
    <div
      class="absolute -z-10 w-[22vw] h-[50vh] left-[50%] rounded-[100%] bg-brand-gradient blur-[10vmax] opacity-50 animate-rotate-slow"
    >
    </div>
  </section>
  <section id="vision" class="grid grid-cols-2 gap-12">
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Vision</h1>
      <p class="body">
        The vision for this city is to create an environment that is green,
        safe, and consistent. It will be pedestrian focused, and based for the
        future.
      </p>
    </div>
    <img
      src="/assets/gradient-01.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
  </section>
  <section id="Theme" class="grid grid-cols-2 gap-12">
    <img
      src="/assets/gradient-03.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Theme</h1>
      <p class="body">
        The overall theme for this city is green, brutalist, modern, new,
        wooden, and glass. In different districts, there will be variation, we
        don’t want the city to look boring and repetitive. We'll incorporate
        cabin, and classical styles here and there.
      </p>
    </div>
  </section>
  <section id="alive-city" class="grid grid-cols-2 gap-12">
    <div
      class="flex flex-col p-64 gap-24 bg-fg-1 border border-stroke-1 rounded-out"
    >
      <h1 class="h1">Realistic & Detailed</h1>
      <p class="body">
        Even the smallest little systems, and things required for running the
        city will be documented. Interesting little things, such as traffic
        light controllers as an example will be 3D modelled as an actual product
        and a user interface will be designed for them. Power, fluid,
        agriculture, etc, will all be documented. There will be a fully
        documented fusion power plant.
      </p>
    </div>

    <img
      src="/assets/gradient-02.png"
      alt="Alive City 6"
      class="rounded-out border border-stroke-1 tilt-image h-full w-full object-cover"
      data-tilt
      data-tilt-glare
      data-tilt-max-glare="0.8"
      data-tilt-perspective="1750"
    />
  </section>
  <section
    id="alpha"
    class="rounded-out border border-stroke-1 bg-fg-1 p-64 flex flex-col gap-12 items-center"
  >
    <h1 class="h1">Pre-Alpha</h1>
    <p class="body text-center">
      Alive City is currently in planning stages. dukc is researching urban
      design, city design, architecture, and more to help make this city
      realistic. Contributions and suggestions are welcome, you can contribute
      to the Alive City Docs <a
        href="https://github.com/DuckyHQ0/alive.duckyhq.com"
        class="hover-effect-colour underline">here.</a
      > There isn't a public Minecraft server, or multiple builders roles planned
      for this project yet. Updates are in the <a
        href="https://discord.gg/UWCJbNVrKh"
        class="hover-effect-colour underline">Discord</a
      > and this website's blog. You are also welcome to get involved with the project
      in the Discord!
    </p>
  </section>
</MainLayout>
